$color-primary: #1952E1;
$color-primary-active: #2E3E6E;
$color-primary-hover: #1649CA;

$color-grey-1: #E2E4EA;
$color-grey-2: #F3F4F9;
$color-grey-3: #9A9DA4;
$color-grey-4: #63666E;

$color-white: #FFFFFF;

$color-text-1: #1A1A1A;
$color-text-2: #33373C;

$background-color: #F3F4F9;

$color-error: #BB0000;
$color-success: #154406;
